.event-page {
  margin-top: 59px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.event-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-left: 23vw;
  border-bottom: solid #b8b8b8;
  border-width: thin;
  height: 19vh;
}

.event-header h4 {
  margin: 1rem 0;
  font-weight: 400;
  display: inline-block;
}

.event-header h2 {
  margin-top: 0rem;
  font-size: 2rem;
  font-weight: 600;
}

.event-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 43vh;
}

.event-image {
  max-width: auto;
  max-height: 35vh;
  margin-right: 5vw;
}

.event-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  width: 20vw;
}

.event-content-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 15vh;
}

.event-content-group label {
  font-weight: 600;
}

.event-group-img {
  max-height: 10vh;
  max-width: 10vw;
  border-radius: 5px;
  margin-left: 1rem;
}

.event-group-text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.event-group-text p {
  font-weight: 400;
  color: gray;
}

.event-content-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 10vh;
  margin-top: 5vh;
}

.event-content-time label {
  width: fit-content;
  height: fit-content;
  font-weight: 400;
}

.event-details {
  padding-left: 23vw;
  max-width: 28vw;
}

.event-attendees {
  margin-top: 1vh;
  padding-left: 23vw;
  max-width: 28vw;
}

.event-comment-title {
  margin-top: 3vh;
  padding-left: 23vw;
}

.event-comments {
  padding-left: 23vw;
  max-width: 28vw;
  max-height: 40vh;
  overflow: auto;
  margin-bottom: 10vh;
}

.event-comment-box {
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  padding: 1.5rem 0 1.5rem 1rem;
  margin: 1rem 0;
}
