.authorized-home {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #f6f6f6;
}

.events-containers {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.events-content h1 {
  font-weight: 600;
  margin: 2vh 0;
}

.event-text-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 15vw;
}

.event-text-row a {
  margin-top: 3vh;
}
.events-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40vh;
  margin: 0 10vw;
}

.event-item {
  background-color: red;
  border-radius: 15px;
  height: 30vh;
  width: 14vw;
}

.row2 {
  background-color: white;
}
