.homepage {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7f8;
}

.hero-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22rem;
  width: 73%;
}

.hero-text h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
}

.h3-div {
  margin-top: 1rem;
}

.hero-text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

.hero-image {
  background-image: url("./herobanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
}

.home-links {
  display: flex;
  align-items: center;
  height: 40vh;
  background-color: white;
}
.link-containers {
  display: flex;
  flex-direction: row;
  width: 99.1vw;
  justify-content: center;
}
.event-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem;
}
.event-container a {
  margin-top: 0.3rem;
  font-size: 19px;
  color: #2f8ba2;
}
.event-links {
  width: 22vw;
  height: 22vh;
  border-radius: 15px;
}

.event1 {
  background-image: url("./event1.jpg");
  background-size: cover;
  background-repeat: none;
}
.event2 {
  background-image: url("./event2.jpg");
  background-size: cover;
  background-repeat: none;
}
.event3 {
  background-image: url("./event3.jpg");
  background-size: cover;
  background-repeat: none;
}

.home-intro {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-title {
  text-align: center;
}

.intro-title h1 {
  font-weight: 900;
}

.intro-title h3 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.intro-link-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 90vw;
  height: 32vh;
}
.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container p {
  margin: 0;
  font-weight: 300;
}

.link-container a {
  margin-top: 0.3rem;
  font-size: 20px;
  color: #2f8ba2;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.link-image {
  width: 13vw;
  height: 13vh;
  padding-bottom: 1rem;
}

.join-btn {
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.join-btn:hover {
  opacity: 1;
}
