.group-page {
  margin-top: 59px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 43vh;
}

.group-image {
  width: 25vw;
  max-height: auto;
  margin-right: 2vw;
}

.group-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  width: 20vw;
}

.group-content-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 15vh;
}

.group-content-group p {
  margin: 0.2rem 0;
  font-weight: 500;
}

.join-group-btn {
  width: fit-content;
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
  margin-bottom: 1rem;
}

.join-group-btn:hover {
  opacity: 1;
}

.group-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99.1vw;
  max-height: 40vh;
  background-color: #eeeeee;
  border-top: solid #d3d3d3;
  border-width: thin;
}

.group-about h2 {
  align-self: flex-start;
  margin-left: 25vw;
  font-size: 1.5rem;
}
.group-about-text {
  width: 50vw;
  margin-bottom: 4vh;
  max-height: 30vh;
}

.group-about-text h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.upcoming-events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99.1vw;
  background-color: #eeeeee;
}

.upcoming-events-container h2 {
  align-self: flex-start;
  margin-left: 25vw;
  font-size: 1.5rem;
  margin-bottom: 3vh;
}
.upcoming-events {
  padding-top: 1.5vh;
  width: 50vw;
  max-height: 50vh;
  margin-bottom: 5vh;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: auto;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-row {
  display: flex;
  flex-direction: row;
  border: solid rgb(155, 155, 155);
  border-width: thin;
  background: linear-gradient(#eeeeee, #dddddd);
  border-radius: 10px;
  width: 45vw;
  height: 10vh;
  margin-top: 1.5vh;
  padding: 1.25rem;
  overflow: hidden;
}

.event-row img {
  width: 10vw;
}
.event-row-text {
  width: 30vw;
  max-height: 10vh;
  overflow: hidden;
}

.event-row-text h4,
.event-row-text h3 {
  margin: 0 0 0.3rem 1rem;
}

.event-row-time {
  font-weight: 500;
}

.event-row-body {
  font-weight: 400;
}
