.event-page {
  margin-top: 59px;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
}

.event-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-bottom: solid #b8b8b8;
  border-width: thin;
  margin-bottom: 2vh;
  padding-left: 21vw;
  height: 24vh;
}

.event-header h4 {
  margin: 1rem 0;
  font-weight: 400;
  display: inline-block;
}

.event-header h2 {
  margin-top: 0rem;
  font-size: 2rem;
  font-weight: 600;
}

.event-column-container {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: auto;
}

.event-column-1 {
  flex-grow: 2;
}

.event-column-1 > * {
  width: 100%;
}

.event-column-2 {
  flex-grow: 1;
}
.joined-event-text {
  font-weight: 500 !important;
}

.event-image {
  max-width: 100%;
  max-height: 70vh;
}

.event-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  width: 20vw;
}

.event-content-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  height: 15vh;
}

.event-content-group label {
  font-weight: 600;
}

.event-group-img {
  max-height: 10vh;
  max-width: 10vw;
  border-radius: 5px;
}

.event-group-text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.event-group-text p {
  font-weight: 400;
  color: gray;
}

.event-content-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 10vh;
  margin-top: 5vh;
}

.event-content-time label {
  width: fit-content;
  height: fit-content;
  font-weight: 400;
}

/* .event-details {
  max-width: 28vw;
} */

.event-details-p {
  white-space: pre-line;
  font-weight: 300;
}

.event-attendees {
  margin-top: 1vh;
  /* max-width: 28vw; */
}

.event-comment-title {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.event-comments {
  /* max-width: 28vw; */
  max-height: 40vh;
  overflow: auto;
  margin-bottom: 1.5rem;
}
.comment-username {
  font-weight: 500;
}
.event-comment-box {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem 0;
}

.comment-submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

/* .comment-submit textarea {
  width: 28vw;
} */

.comment-submit button,
.delete-btn,
.edit-btn {
  width: fit-content;
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.delete-btn {
  margin-left: 0.5rem;
}

.request-btn {
  width: fit-content;
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
  margin-bottom: 1rem;
}

.update-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.edit-textarea {
  width: 20vw;
}

.update-btn {
  width: fit-content;
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  margin-left: 1rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.comment-submit button:hover,
.request-btn:hover,
.delete-btn:hover,
.edit-btn:hover,
.update-btn:hover {
  opacity: 1;
}
