.login-page {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-image: url("./login.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  border: solid gray;
  background-color: white;
  flex-direction: column;
  width: 546px;
  height: 398px;
  align-items: center;
}

.login-fields {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  font-size: 13px;
  width: 95%;
}
.login-label {
  padding-top: 2rem;
  font-size: 34px;
  width: 100%;
  text-align: center;
  border-bottom: solid gray;
  padding-bottom: 3rem;
}

.loginform-btn {
  font-size: 18px;
  margin-top: 2.2rem;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}
