.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./login.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
  width: 25vw;
  height: 40vh;
  align-items: center;
}

.login-label {
  padding-top: 2rem;
  font-size: 34px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: solid #9b9b9b;
  border-width: thin;
  padding-bottom: 2rem;
}
.login-fields {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
}

.loginform-btn {
  font-size: 18px;
  margin-top: 2.2rem;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid rgb(190, 190, 190);
  background-color: rgb(243, 243, 243);
  opacity: 0.8;
  border-width: thin;
  padding-top: 10px;
  color: black;
}

.user-input:hover {
  background-color: rgb(238, 238, 238);
  border: solid rgb(190, 190, 190);
  border-width: thin;
  opacity: 1;
}
