.userprof-home {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 94.2vh;
  background-color: #f6f7f8;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 50vh;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 0 10px;
  margin-top: 3vh;
  margin-bottom: 1vh;
  border-radius: 15px;
  background-image: url("./banner2.gif");
  background-size: cover;
}

.container-div {
  display: flex;
  flex-direction: column;
}

.user-joined-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  justify-content: space-between;
}

.user-groups,
.user-events {
  width: 38vw;
  max-height: 60vh;
  margin-top: 2vh;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(46, 62, 72, 0.12);
  border-width: thin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.container-div h2,
.container-div h2 {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

.user-groups-row {
  display: flex;
  flex-direction: row;
  border-width: thin;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(46, 62, 72, 0.12),
    0px 4px 12px 0px rgba(46, 62, 72, 0.12);
  border-radius: 7px;
  width: 39rem;
  height: 5.25rem;
  margin-top: 1.5vh;
  padding: 1.25rem;
  overflow: hidden;
}

.user-groups-row:hover {
  box-shadow: 0px 0px 4px 0px rgba(46, 62, 72, 0.3),
    0px 4px 12px 0px rgba(46, 62, 72, 0.3);
}
.user-groups-row img {
  width: 9rem;
}
.user-row-text {
  width: 100%;
  max-height: 10vh;
  overflow: hidden;
}

.user-row-text h4,
.user-row-text h3 {
  margin: 0 0 0.3rem 1rem;
}
.user-row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-row-time {
  font-weight: 500;
}

.user-row-body {
  font-weight: 400;
}

.leave-btn {
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  transition: opacity 0.3s;
}

.leave-btn:hover {
  opacity: 1;
}

.leave-container {
  position: relative;
  display: flex;
  top: 5vh;
  right: 1vw;
  width: 100%;
  flex-direction: row;
  margin-right: 1vw;
  justify-content: flex-end;
}
