.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./login.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
  width: 25vw;
  height: 35vh;
  align-items: center;
}

.login-label {
  padding-top: 2rem;
  font-size: 34px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(46, 62, 72, 0.2);
  border-width: thin;
  padding-bottom: 2rem;
}

.login-fields {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  font-size: 13px;
  font-weight: 600;
  width: 80%;
}

.loginform-btn {
  font-size: 18px;
  margin-top: 2rem;
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.loginform-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid rgb(190, 190, 190);
  background-color: rgb(243, 243, 243);
  opacity: 0.8;
  border-width: thin;
  padding-top: 15px;
  color: black;
}

.user-input:hover {
  background-color: rgb(238, 238, 238);
  border: solid rgb(190, 190, 190);
  border-width: thin;
  opacity: 1;
}

.login-errors {
  margin-top: 1rem;
  background-color: red;
  opacity: 0.9;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
}
