@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navbar {
  display: flex;
  position: 0;
  margin: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid #9e9e9e;
  border-width: 0.1rem;
}

.navhome {
  padding-left: 10px;
}

.home-logo {
  font-size: 1.5rem;
  color: #ed1c40;
  font-family: "Lobster", cursive;
}
.navlinks {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
}
a.active {
  color: none;
  text-decoration: none;
}

.navsignup-btn {
  border: none;
  font-weight: bold;
  background-color: white;
}
